header.header
    .container
        include ./header-top.pug
        include ./mobile-menu.pug
        .header__content
            include ./header-desc.pug
            include ./header-cards.pug
            include ./window-buy.pug