.header__cards
    .row
        +header__card("hdr", "HDR", "DISPLAY")
            | Получите более широкий и комфортный для восприятия диапазон цветовой гаммы, чем в обычных мониторах.
        +header__card("input", "INPUT", "LAG")
            | Мониторы с технологией G&#8209;SYNC обеспечивают минимальную задержку между нажатием клавиш и результатом на экране, что очень важно для геймеров.
        +header__card("refresh", "HIGH REFRESH", "RATE")
            | NVIDIA тесно сотрудничает с производителями мониторов, чтобы вывести на рынок широкий спектр дисплеев с высокой частотой обновления экрана от 75 до 360 Гц.
        +header__card("wideColor", "WIDE COLOR ", "GAMUT")
            | Современные мониторы G&#8209;SYNC ULTIMATE поддерживают цветовой охват DCI&#8209;P3, обеспечивая более реалистичную цветопередачу с плавными переходами.