.mobile-menu
    button.button--mobile#buttonMobile
        svg(width="56" height="56" class="button__pic")
            use(xlink:href="./img/svg-sprite.svg#buttonMobile")
    nav.nav--mobile#navMobile
        .mobile-menu__content
            .nav--mobile__top
                a.header__logo(href="index.html")
                    svg(class="logo__pic")
                        use(xlink:href="./img/svg-sprite.svg#logo")
                .mobile__links
                    a.header__nav__link.mobile__link(href="#!") ПРОДУКТЫ
                    a.header__nav__link.mobile__link(href="#!") ТЕХНОЛОГИИ
                    a.header__nav__link.mobile__link(href="#!") EXPERIENCE
                    .mobile__links--social
                    .row
            .nav--mobile__bottom
                .mobile__row
                    a.mobile__links--social(href="#!")
                        svg(width="48" height="48" class="link--social")
                            use(xlink:href="./img/svg-sprite.svg#twitter")
                    a.mobile__links--social(href="#!")
                        svg(width="48" height="48" class="link--social")
                            use(xlink:href="./img/svg-sprite.svg#instagram")