.window-buy
    form.form-buy#formBuy
        +button-close
        h2.heading--main ПРЕИМУЩЕСТВА G&#8209;SYNC
        input.input(type="text" placeholder="Имя" required)
        input.input(type="email" placeholder="Mail" required)
        .row.justify-content-center
            input(type="submit" value="КУПИТЬ").button.button--buy#buttonBuy
    .row.justify-content-center
        button.button#buttonStart КУПИТЬ

